{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>MiniCTF</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block custombody %}
	<div class="container">
		<div id="details">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>Welcome to the Hack Lab's Capture the Flag workshop. You will get access to a network of vulnerable servers. 
						Each server contains a flag.txt file, only readable by the root user. Use your hacking skills to penatrate the servers to obtain access to the flag
						contents to score points!</p>
					<h3>Requirements</h3>
					<p><a href="https://www.virtualbox.org/wiki/Downloads"><strong>Virtualbox</strong></a> running <a href="https://www.kali.org/"><strong>Kali Linux</strong></a>. Two versions will be provided, a standard and a light version. The light version is recommended for less powerfull computers.</p>
					<h3>Getting Started</h3>
					<p>Teams can be 1-3 people. <a href="/accounts/register/"><strong>Register</strong></a> your team's account. 
						Visit the <a href="/accounts/profile/"><strong>profile</strong></a> page to obtain the vpn config file and configuration instructions. 
						Submit the contents of the flags at the <a href="/challenges/"><strong>Challenges</strong></a> page.
					</p>
					<strong>Now go hack all the vulnerable servers!</strong>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>Feeling lost? Post your question on the forum.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}