{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Team Details</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block custombody %}
	
	<div id="pageHeading">
		<p>Profile</p>
	</div>

	<div class="container">
		<div style="text-align: left;">
			<p><strong>Team Name</strong> : {{ user.username }}</p>
			<p><strong>Team Email</strong> : {{ user.email }}</p>
		
			<div>
				<form action="/accounts/profile/changepassword/">
					<input type="submit" class="updateFormButton" value="Change Password">
				</form>
			</div>
			<div>
				<input type="button" class="updateFormButton" value="Download VPN Config">
			</div>

		</div>
	</div>

{% endblock %}